body {
    margin-top: 2%;
    background: #fffdf9;
    color: black;
}

.judul {
    display: flex;
    align-items: center;
}

.input {
    display: flex;
    text-align: left;
    align-items: center;
    justify-content: left;
    float: left;
}

.content {
    margin-top: 3%;
    align-items: center;
    justify-content: center;
    display: flex;
}
