{% load static from staticfiles %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
         <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>
        <script src="{% static 'js/themeChanger.js' %}"></script>
        <link rel="stylesheet" href="{% static 'css/dark.css' %}" id="theme">
        <title>Story 7</title>
    </head>
    <body name="body-1">
        <div class="container">
            <div class="row">
                <div class="col-sm">
                    <div id="accordion" class="accordion" style="padding-top: 35px">
                        <h4 class="acc-style" name="acc-1">Activities</h4>
                        <div>
                            <li>Teaching Informatics Olympiad</li>
                            <li>Studying</li>
                            <li>Travelling</li>
                        </div>
                        <h4 class="acc-style" name="acc-2">Organizations/Volunteer Experiences</h4>
                        <div>
                            <li>Saimala UI</li>
                        </div>
                        <h4 class="acc-style" name="acc-3">Awards</h4>
                        <div>
                            <li>Bronze Medalist Informatics National Science Olympiad 2017</li>
                            <li>Top 16 Pelatnas 1 TOKI 2018</li>
                            <li>National Bronze Medalist ACM-ICPC Regional Jakarta 2019</li>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm">
                    <div class="down">
                        <p id="light" class="text-center text" style="font-size: 50px; text-align: center;"><strong>Dark Mode</strong></p>
                        <label class="switch" for="lightmode">
                            <input type="checkbox" class="lightmode" id="lightmode" name="lightmode">
                            <span class="slider round"></span>
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>