{% load static from staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Story 6</title>
</head>
<body style="background: #f88020; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">
    <h1 class="d-flex justify-content-center" style="margin-top: 3%;"> Halo, Apa Kabar?</h1>
    <div class="rounded-pill" style="background: #fff4e4; margin: 3% 8%; padding: 2% 4%;">
        <form method="POST">
            {% csrf_token %} {{ forms }}
            <input type="submit" class="btn btn-primary" value="Submit" name="tombol" style="margin: 1% 0%;">
        </form>
    </div>
    {% for i in models %}
       <div class="rounded-pill" style="background: #fff4e4; margin: 3% 8%; padding: 2% 4%;">
            <p style="overflow-x: scroll;"> {{ i.waktu }} {{ i.tulisanStatus }} </p>
        </div>
    {% endfor %}
</body>
</html>